<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs') %>
</head>
<body>
	<%- include('../partials/nav.ejs') %>
	<main class="main">
		<h1>Edit Issue</h1>
		<a href="#" onclick="history.go(-1)">Back</a>
		<form class="form-input" action="<%= baseUrl %>/issues/<%= issue._id %>?_method=PUT" method="post">

			<div class="form-group">
				<label for="title">What needs to be done?</label>
				<input type="text" class="form-control" id="title" name="title" value="<%= issue.title %>" required>
			</div>

			<div class="form-group">
				<label for="type">Issue type</label>
				<select name="type" class="form-control short" id="type">
					<% const types = ['Story', 'Task', 'Bug', 'Epic'] %> <%
					types.forEach(type => { %>
					<option value="<%= type %>" <% if (type == issue.type) { %> selected <% } %>>
						<%= type %>
					</option>
					<% }) %>
				</select>
			</div>

			<div class="form-group">
				<label for="priority">Priority</label>
				<select name="priority" class="form-control short" id="priority">
					<% const priorities = ['highest', 'high', 'medium', 'low', 'lowest'] %>
					<% priorities.forEach(priority => { %>
					<option value="<%= priority %>" <% if (issue.priority == priority) { %> selected <% } %>>
						<%= priority %>
					</option>
					<% }) %>
				</select>
			</div>

			<div class="form-group">
				<label for="storyPoints">Story points</label>
				<input type="number" class="form-control shorter" id="storyPoints" name="storyPoints" value="<%= issue.storyPoints %>">
			</div>

			<div class="form-group">
				<label for="sprint">Sprint</label>
				<select name="sprint" class="form-control normal" id="sprint">
					<% groups.forEach(group => { %>
					<option value="<%= group.name %>" <% if (group.name == currentGroup.name) { %> selected <% } %>>
						<%= group.name %>
					</option>
					<% }) %>
				</select>
			</div>

			<input class="btn btn-primary" type="submit" value="Submit">
		</form>
	</main>
</body>
</html>
