<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Issue</title>
</head>
<body>
	<header>
		<h1>Edit Issue</h1>
	</header>
	<main>
		<a href="#" onclick="history.go(-1)">Back</a>
		<form action="<%= baseUrl %>/issues/<%= issue._id %>?_method=PUT" method="post">
			<input type="text" id="title" name="title" placeholder="What needs to be done?" required
				value="<%= issue.title %>">
			<br>
			<label for="description">
				Description:
				<input type="text" id="description" name="description" value="<%= issue.description %>">
			</label>
			<br>
			<label for="type">
				Issue type
				<select name="type" id="type">
					<option value="story">Story</option>
					<option value="task">Task</option>
					<option value="bug">Bug</option>
				</select>
			</label>
			<br>
			<label for="reporter">
				Reporter:
				<input type="text" id="reporter" name="reporter" value="<%= issue.reporter %>">
			</label>
			<br>
			<label for="assignee">
				Assignee:
				<input type="text" id="assignee" name="assignee" value="<%= issue.assignee %>">
			</label>
			<br>
			<label for="priority">
				Priority:
				<select name="priority" id="priority">
					<% const priorities = ['highest', 'high', 'medium', 'low', 'lowest'] %>
					<% priorities.forEach(priority => { %>
					<option value="<%= priority %>" <% if (issue.priority == priority) { %> selected <% } %>>
						<%= priority %>
					</option>
					<% }) %>
				</select>
			</label>
			<br>
			<label for="storyPoints">
				Story points:
				<input type="number" id="storyPoints" name="storyPoints" value="<%= issue.storyPoints %>">
			</label>
			<br>
			<label for="epic">
				Epic:
				<input type="text" id="epic" name="epic" value="<%= issue.storyPoints %>">
			</label>
			<br>
			<label for="sprint">
				Sprint:
				<select name="sprint" id="sprint">
					<% groups.forEach(group => { %>
					<option value="<%= group.name %>"><%= group.name %></option>
					<% }) %>
				</select>
			</label>
			<br>
			<input type="submit">
		</form>
	</main>
</body>
</html>
