<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <header>
    <nav>
      <a href="#">Pragmatic</a>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
      </ul>
    </nav>
    <h1>Backlog</h1>
  </header>
  <main>
    <h2>Backlog</h2>
    <table>
      <% issues.forEach(issue => { %>
        <tr>
          <td><%= issue.issueType %></td>
          <td><a href="<%= baseUrl %>/issues/<%= issue.id %>"><%= issue.title %></a></td>
          <td><%= `${boardKey}-${issue.id}` %></td>
          <td><%= issue.storyPoints %></td>
          <td><%= issue.priority %></td>
        </tr>
      <% }) %>
    </table>
    <a href="<%= baseUrl %>/issues/new">+ Create issue</a>
  </main>
</body>
</html>
