<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Issues</title>
</head>
<body>
  <header>
    <h1>Issues</h1>
  </header>
  <main>
    <a href="/projects">Back</a>
    <h2><%= issue.title %></h2>
    <p>Description: <%= issue.description %></p>
    <p>Reporter: <%= issue.reporter %></p>
    <p>Assignee: <%= issue.assignee %></p>
    <p>Priority: <%= issue.priority %></p>
    <p>Story points: <%= issue.storyPoints %></p>
    <p>Epic: <%= issue.epic %></p>
    <p>Project: <%= issue.project %></p>
    <a href="/projects/issues/<%= issue.id %>/edit">Edit</a>
    <form action="/projects/issues/<%= issue.id %>?_method=DELETE" method="post">
      <input type="submit" value="Delete">
    </form>
  </main>
</body>
</html>
